* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway";
  font-weight: 500;
}
@font-face {
  font-family: eina01-bold;
  src: url(../fonts/Eina01-Bold.ttf);
}
main {
  font-family: "raleway", Arial, Helvetica, sans-serif;
  background-color: #e8f4ff;
  padding: 10px 35px 0;
}
header {
  justify-content: space-between;
  border-bottom: 1px solid;
}
header,
nav ul,
nav {
  display: flex;
  align-items: center;
}
nav ul {
  margin-left: -800px;
}
.btn1 {
  margin-left: 370px;
}
nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #020656;
  transition: width 0.4s ease;
}
nav ul li:hover::after {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}
button:active {
  transform: translateY(4px);
}
.contact-us {
  background-color: #020656;
  transition: color 0.5s ease-in-out;
  color: #fff;
  border: none;
  position: relative;
  z-index: 1;
}
.contact-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #841315;
  transition: width 0.4s ease-in-out;
  animation-delay: 0.1s;
  z-index: -1;
}
.contact-us:hover::before,
#choose-course:hover::before {
  width: 100%;
}
.contact-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 4px 4px black;
}

#hero-page {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}
#hero-pageA,
#hero-pageB {
  width: 50%;
}
#hero-pageB {
  overflow: hidden;
}
#hero-pageA {
  margin-top: 50px;
}
h1,
h2,
h4 {
  font-weight: bold;
}
p {
  font-weight: 500;
}
#hero-pageA h1 {
  font-size: 50px;
}
#hero-pageA p {
  font-size: 24px;
  margin: 10px 0 50px 0;
  padding-right: 25px;
}
#hero-pageA-footer-pic {
  display: flex;
  align-items: center;
}
.rounded-pictures {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -20px;
  overflow: hidden;
  border: 2px solid #fff;
}
.pic1 {
  margin-left: 0;
}
.rounded-pictures img {
  width: 100%;
  height: 100%;
}
.pic5 {
  background-color: #020656;
}
.pic5 p {
  color: #fff;
  font-size: 1.5rem;
}
#hero-pageA-footer p {
  font-size: 14px;
  margin-top: 47px;
}
.contact1 {
  margin-left: 0;
  margin-right: 15px;
  animation: contact 1s ease-out forwards;
}
@keyframes contact {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  65% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#hero-pageB img {
  width: 803px;
  height: 100%;
  margin-left: -80px;
}

.keltalz-courses,
#choose-course {
  border: 2px solid #1e1e1e;
  background-color: transparent;
}
#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}
#section2-text-part {
  text-align: center;
  width: 60%;
}
#section2-text-part h1 {
  font-size: 45px;
}
#section2-text-part p {
  font-size: 24px;
}
.keltalz-services {
  height: 350px;
  margin: 25px 0;
  background-color: #fff7d7;
}
.kelt-class {
  padding: 30px;
  box-shadow: 6px 6px black;
  display: flex;
  width: 70%;
  transition: scale 0.3s ease-in-out;
}
.kelt-class:hover {
  scale: 1.05;
}

.keltalz-services h1,
.keltalz-classes h1 {
  font-size: 65px;
  margin-top: 10px;
  padding-right: 20px;
}
.keltalz-services span {
  color: #081578;
}
.keltalz-services p,
.keltalz-classes p {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
#keltalz-services-text {
  margin-left: 25px;
}
.image-container {
  height: 100%;
  width: 45%;
  overflow: hidden;
}
.img-con1 {
  width: 48.4%;
}
.image-container img {
  width: 399px;
  height: 100%;
  margin-left: -53px;
}
.our-services {
  margin: 0;
}
.keltalz-classes {
  height: 350px;
  background-color: #020656;
  color: #fff;
}
#keltalz-classes-text {
  margin-right: 45px;
}

.keltalz-classes span {
  color: #fedc55;
}
.our-courses {
  background-color: #fff;
  color: #000;
  margin: 0;
}
.our-courses::before {
  background-color: #fedc55;
}

#section3 {
  padding: 40px 0 35px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.sec3-heading h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.sec3-heading p {
  font-size: 25px;
}
.sec3-p1 {
  color: #081578;
  font-weight: bold;
}
#flex-container {
  position: relative;
  height: 600px;
  margin: 15px 0;
}
#flex-container-text {
  font-size: 25px;
  display: block;
  width: 100%;
}
#flex-container-text p {
  float: right;
}
.flex-item {
  position: absolute;
  width: 28%;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: #fff;
  border: 1px solid;
}
.flex-item div {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}
.flex-item div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.flex-item h4 {
  font-size: 21px;
  margin-bottom: 10px;
}
.flex-item p {
  font-size: 17px;
}
.flex-item2 {
  left: 35.7%;
}
.flex-item3 {
  right: 0;
}

#section4 {
  display: flex;
  flex-direction: column;
  padding: 50px 0 90px;
  gap: 40px;
  position: relative;
}
/* .sec4-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 20%;
  display: none;
  padding: 0 0;
}
.sec4-btn:active {
  transform: translateY(0);
}
.sec4-btn:active img {
  display: none;
}
.sec4-left-btn {
  left: -18px;
}
.sec4-right-btn {
  right: -18px;
} */
.flip-card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 250px;
}
.flip-card-inner {
  position: relative;
  width: 270px;
  height: 100%;
  box-shadow: 5px 5px;
  border-radius: 20px;
  margin: 20px;
  display: block;
}
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 15px;
  border-radius: 20px;
}
.classes-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.flip-card-front:first-child {
  font-size: 18px;
}
.flip-img-container {
  width: 50px;
  height: 41px;
  margin-right: 15px;
}
.flip-img-container img {
  width: 100%;
  height: 100%;
}
.web-dev {
  background-color: #fff7d7;
}
.mobile-app,
.consult-servi {
  background-color: #96ceff;
}
.ui-design,
.animate-servi {
  background-color: #020656;
  color: #fff;
}
.software-done {
  margin: auto;
  margin-top: 50px;
}
.software-done button {
  margin: 0;
  color: #000;
  font-weight: bold;
  background: #fff7d7;
}
.software-done button:hover {
  color: #fff;
}
/* important  dont forget to finish here*/
#section4b h1 {
  text-align: center;
  font-size: 45px;
}
.portfoilo {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 300px;
}
.portfoilo > div {
  width: 31%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.com-logo-name {
  display: flex;
  align-items: center;
}
.com-logo img {
  width: 170px;
}
.buenl {
  letter-spacing: 20px;
}
.founda {
  font-size: 21px;
}
.first-port {
  background-color: #23298a;
  color: #fff;
}
.logo2 {
  background-color: #fff;
  color: #000;
}
.partner-desc {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}
.portfolio-links {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  text-decoration: underline;
  margin-left: 40%;
}
.port-link2 {
  color: #000;
}
.animation-profile {
  text-align: center;
  margin: 50px 0 50px;
}
.animation-profile p {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}
.animation-profile p:hover,
.animation-profile p a:hover {
  color: #0500ff;
}
.animation-profile p:active,
.animation-profile p a:active {
  color: #841315;
}

/* new add*/
#section5 {
  position: relative;
  border: 1px solid #e8f4ff;
  padding-bottom: 40px;
}

#section5 h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  margin-bottom: 80px;
}

.testimonial-container {
  max-width: 1050px;
  overflow: hidden;
  margin: 20px auto;
  padding: 0 20px;
}

.testimonials {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.testimonial {
  flex: 0 0 calc((100% - 20px) / 2);
  /* Two testimonials with gap */
  padding: 20px;
  border: 2px solid #212121;
  height: 250px;
  border-radius: 5px;
  background-color: #b3daff;
}

.void-testimonial {
  display: none;
}

.testimonial p {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.testimonial-author {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.special-case-author {
  padding-top: 35px;
}

.testimonial-author p {
  border: none;
  margin: 0;
  padding: 0;
}

.testimonial .author-base {
  font-size: 15px;
}

.author-pic {
  margin-right: 15px;
}

.author-pic img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-btn {
  background-image: url(images/icons8-sort-left-30.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 35px;
  border-radius: 3px;
  border: none;
  width: 50px;
  padding: 20px;
  height: 60px;
  background-color: #96ceff;
  position: absolute;
  top: 50%;
  border: 2px solid #212121;
}
.testimonial-btn:active {
  transform: translateY(0);
  background-color: hsl(208, 100%, 89%);
  border: 2px solid #0500ff;
}
#prev {
  left: 35px;
}
#next {
  background-image: url(images/icons8-sort-right-30.png);
  background-position-x: 10px;
  right: 35px;
}

/* ends here*/
#choose-course::before {
  background-color: #fff;
}
#about-page {
  display: flex;
  padding-top: 20px;
}
#about-page p,
#about-page li {
  font-size: 22px;
}
#about-page ul {
  margin: 5px 0 20px;
  padding-left: 40px;
}
#about-page-text {
  width: 40%;
}
#about-page h2,
#courses-offered h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
#more-on-about {
  font-size: 22px;
}
.more-on-about-top {
  display: flex;
}
.more-on-about-top > div {
  width: 50%;
}
.more-on-about-top-1 {
  padding: 20px 28px 20px 0;
}
#more-on-about div ul {
  padding-left: 32px;
}
.brief-intro {
  margin-bottom: 20px;
  font-size: 22px;
}
.pill-img-container {
  display: flex;
  width: 60%;
  overflow: hidden;
  padding-left: 50px;
}
.pill-img {
  width: 180px;
  height: 570px;
  border-radius: 70px;
  background-size: cover;
}
.pill-img img {
  width: 100%;
  height: 100%;
}
.pill-img1 {
  margin: 100px 0 0 40px;
  animation: movepill-img 2.5s ease-out forwards;
  background-image: url(images/Mask\ group\ bw.png);
}
@keyframes movepill-img {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pill-img1:hover {
  background-image: url(images/Mask\ group.png);
}
.pill-img2 {
  margin: 50px 60px 0 70px;
  animation: movepill-img2 2s ease-out forwards;
  background-image: url(images/Mask\ group-1bw.png);
}
@keyframes movepill-img2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pill-img2:hover {
  background-image: url(images/Mask\ group-1.png);
}
.pill-img3 {
  background-image: url(images/Mask\ group-2bw.png);
  animation: movepill-img3 1.5s ease-out forwards;
}
@keyframes movepill-img3 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pill-img3:hover {
  background-image: url(images/Mask\ group-2.png);
}
#our-records {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  height: 150px;
  position: relative;
}
.records {
  padding: 10px 15px;
  text-align: center;
  min-width: 150px;
  max-width: 150px;
  height: 120px;
  font-size: 18px;
  font-weight: bold;
  background-color: #96ceff;
  box-shadow: 3px 3px;
  margin-top: 15px;
  z-index: 2;
  position: absolute;
}
.students-trained {
  top: -90px;
  left: 20px;
}
.projects-completed {
  background-color: #fff;
  margin-top: 0;
  top: -85px;
  left: 190px;
}
.yrs-of-experience {
  top: -90px;
  right: 125px;
}
.line {
  position: absolute;
  border: 1px solid;
  top: -100px;
  height: 40px;
  z-index: 1;
}
.horizontal-line {
  position: absolute;
  border: 1px solid;
  width: 420px;
  top: -100px;
  left: 63px;
}
.vertical-line1 {
  left: 100px;
}
.vertical-line2 {
  left: 260px;
}
.vertical-line3 {
  right: 200px;
}

.animated-count {
  font-size: 40px;
  margin-top: -1px;
  font-family: "eina01-bold", Arial, Helvetica, sans-serif;
}

#courses-price {
  margin-top: 70px;
}

#courses-price-heading {
  height: 400px;
  width: 105.5%;
  margin: 0 0 30px -35px;
  padding-top: 100px;
  background-color: #fff7d7;
  background-image: url(images/laptop\ in\ palm.png);
  background-repeat: no-repeat;
  background-position: right -20px top 70px;
}

#choose-course {
  margin: 40px 0 0 250px;
  transition: background-color 0.3s ease;
}
#choose-course:hover,
.keltalz-courses:hover {
  color: #fff;
  border-color: #fff;
  background-color: #23298a;
  border-radius: 3px;
}

#courses-price-heading h1 {
  font-size: 70px;
  margin-left: -250px;
  color: #23298a;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 40px repeat(6, 100px);
  padding: 30px 30px 70px;
  background-color: #fff;
  border-radius: 30px;
}
#grid-container > .item:nth-child(8n + 9),
#grid-container > .item:nth-child(8n + 10),
#grid-container > .item:nth-child(8n + 11),
#grid-container > .item:nth-child(8n + 12) {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  font-family: eina01-bold;
}
.course-name {
  justify-content: left;
  padding-left: 10px;
}
#search-bar {
  width: 100%;
  margin-bottom: 30px;
  height: 70px;
  background-image: url("https://img.icons8.com/ios-glyphs/30/search--v1.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  background-size: 25px;
  padding: 15px 15px 15px 55px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline: none;
}

#student-photo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

#student-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid;
}
.item p {
  font-weight: 700;
}

.heading {
  color: #23298a;
  font-size: 22px;
  padding-bottom: 15px;
}

#special-programs {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
#special-programs > div {
  width: 45%;
  height: 570px;
  color: #020656;
}
.btn-like {
  border: 1px solid;
  align-items: center;
  height: 70px;
  display: flex;
  border-radius: 50px;
  padding: 1px;
}
.btn-like1 {
  margin: 40px 0;
}
.btn-like-buttons {
  width: 50%;
  height: 100%;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  padding-top: 22px;
  font-weight: bold;
}
.activeButton {
  background-color: #23298a;
  color: #fff;
}
.special-programs-toggler {
  padding: 50px 20px 0;
}
.special-programs-toggler h4 {
  font-size: 40px;
}
.special-programs-toggler {
  background-color: #e8f4ff;
}
.special-pple {
  font-size: 25px;
}
#reach-us {
  margin-top: 100px;
}
.form-container {
  border: 3px solid #020656;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  height: 600px;
  padding: 20px 20px 20px 30px;
  position: relative;
  overflow: hidden;
}
form {
  position: absolute;
  width: 60%;
  height: 560px;
  border-radius: 30px;
  top: 20px;
  right: 20px;
  background-color: #deefff;
  padding: 30px 20px 10px;
  animation: moveText 3s ease-out forwards;
}
@keyframes moveText {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
form h1 {
  font-size: 40px;
}
form p {
  font-size: 20px;
  margin: 15px 0 30px;
}
.details,
textarea {
  display: block;
  background-color: transparent;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-size: 17px;
  margin-bottom: 20px;
}
/* ::placeholder {
  color: #000;
} */
.multi-selection {
  margin: 0;
  margin: 25px 0 10px;
}
.users-need-selection {
  display: flex;
}
.users-need-selection > div {
  margin-right: 30px;
}
.users-need {
  display: flex;
  align-items: center;
  padding: 10px;
}
input[type="checkbox"] {
  transform: scale(1.4);
}
.submit-form-container {
  text-align: center;
  padding-top: 10px;
}
.users-need p {
  font-size: 15px;
  margin: 0;
  padding-left: 10px;
}
.mess-kelt {
  display: flex;
  width: 350px;
  margin-top: 40px;
}
.chat-team {
  margin-left: 15px;
}
.chat-team h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.chat-team p {
  font-size: 15px;
}
footer {
  display: flex;
  border: 1px solid;
  padding: 20px 100px;
  background-color: #2d2d2e;
  color: #fff;
}
footer > div {
  width: 25%;
}
.main-details {
  width: 50%;
}
footer h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
footer p,
footer a {
  font-size: 18px;
  margin-bottom: 25px;
  display: block;
  color: #fff;
}
.site-pages a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}
.accordion {
  text-align: left;
  padding: 35px 39px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position-y: center;
  background-position-x: 1150px;
}
.accordion img {
  transition: transform 0.2s ease-in-out;
  float: right;
}
.active-accordion img {
  transform: rotate(90deg);
}
.panel {
  padding: 5px;
  display: none;
  font-size: 23px;
}
.panel.show {
  display: block;
}
.faqs {
  padding: 35px 0 70px;
}
.faqs h1,
#courses-offered h1 {
  font-size: 45px;
  margin: 40px 0 15px;
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 60px;
}
.courses-container > div {
  width: 30%;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.courses-container h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.courses-container p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
}
.courses-container a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.courses-container a:hover {
  color: #0500ff;
}
.style-link {
  margin-bottom: 25px;
}
.sty-link1 {
  margin-bottom: 50px;
}
.cour {
  background-color: #fff;
}
.cour2 {
  background-color: #fff7d7;
}
.courses-container img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.courses-desc {
  display: flex;
  flex-wrap: wrap;
}
.courses-desc > div {
  border: 1px solid;
  width: 50%;
  padding: 10px;
}
.courses-desc-text {
  border-radius: 10px;
  border-color: #e6e6e6;
  background-color: #fff;
  padding: 15px 15px 20px;
  height: 520px;
}
.courses-desc-text ul {
  padding-left: 15px;
}
.courses-desc h3 {
  color: #6b1f00;
  font-size: 30px;
  font-weight: bold;
}
.courses-desc h4 {
  font-weight: 570;
  font-size: 20px;
  margin-bottom: 10px;
}
.what-ulearn {
  margin-top: 10px;
}
.toggle-link {
  margin-bottom: 10px;
}
.toggle-link a {
  font-size: 14px;
  font-weight: 600;
}
.to-course {
  color: rgb(148, 148, 148);
}
.to-course:hover {
  color: black;
  text-decoration: underline;
}
.preview-pic {
  height: 300px;
  background-image: url(images/graphics-design.jpeg);
  background-size: cover;
  background-position-y: -100px;
  border-radius: 10px;
}
.price {
  text-align: center;
  color: #6b1f00;
  font-weight: bold;
  background-color: hsl(17, 100%, 91%);
  margin: 8px 0 8px 30px;
  width: 200px;
  padding: 5px;
  font-family: "eina01-bold";
}
.btn-cont {
  text-align: center;
}
.btn-cont button {
  margin-bottom: 15px;
}
.btn-cont a {
  color: #000b6a;
  text-decoration: underline;
  font-weight: 550;
}
.pic1 {
  background-image: url(images/web-dev-pic.png);
}
.pic2 {
  background-image: url(images/video-edit-img.png);
}
.pic3 {
  background-image: url(images/animate-img.png);
}
.pic4 {
  background-image: url(images/uxdesign.jpeg);
}
.pic5 {
  background-image: url(images/man\ with\ laptop.jpg);
  background-position-y: -20px;
}
.web-btn {
  margin-top: 35px;
}

/* MEDIA QUERIES*/

@media (max-width: 325px) {
  body,
  #hero-pageA,
  #hero-pageB {
    width: 100%;
  }
  main {
    padding: 0;
    padding: 10px;
  }
  nav,
  nav ul {
    display: none;
  }
  header,
  #hero-page {
    border: none;
  }
  #hero-page {
    flex-direction: column;
  }
  #logo {
    width: 90px;
  }
  #hero-pageA {
    margin: 30px 0;
    height: 645px;
  }
  #hero-pageA p {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
  }
  #hero-pageA h1,
  #section2-text-part h1 {
    text-align: center;
    font-size: 24px;
  }
  #hero-pageA-footer {
    position: relative;
    margin-top: 340px;
  }

  #hero-pageB {
    position: absolute;
    top: 300px;
    right: -1px;
    height: 300px;
  }
  #hero-pageB img {
    width: 380px;
  }
  .btn-container {
    position: absolute;
    text-align: center;
    top: 60px;
  }
  .contact1 {
    margin: 0 0 15px 0;
  }
  .keltalz-courses {
    width: 225px;
  }
  #section2-text-part {
    width: 100%;
  }
  #section2-text-part p {
    text-align: center;
    font-size: 16px;
  }
  .kelt-class {
    width: 100%;
    padding: 15px;
    transition: none;
  }
  .kelt-class:hover {
    scale: 1;
  }
  #keltalz-services-text p,
  .keltalz-classes p {
    font-size: 16px;
    margin-left: 10px;
  }
  .keltalz-services h1,
  .keltalz-classes h1,
  #section4b h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    margin-left: 10px;
  }
  #keltalz-services-text,
  .keltalz-classes h1 {
    margin: 0;
  }
  #keltalz-classes-text {
    margin-right: 10px;
  }
  .keltalz-classes p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }
  .image-container {
    width: 350px;
  }
  .our-services {
    margin-left: 10px;
  }
  #section3 {
    border: none;
    padding-top: 20px;
    border-bottom: 1px solid;
  }
  .sec3-heading {
    padding-bottom: 7px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
  }
  .sec3-heading h2 {
    font-size: 25px;
    text-align: center;
  }
  .sec3-heading p,
  #flex-container-text p {
    font-size: 18px;
  }
  .flex-item {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }
  #flex-container-text {
    margin-top: 710px;
  }
  .flip-card-inner {
    margin: 0 0 20px 0;
    display: none;
  }

  .flip-card-inner.mobile-animated {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }
  .flip-card-inner.displayed-card {
    display: block;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .software-done {
    margin-top: -260px;
  }
  .flip-card-front:first-child {
    font-size: 16px;
  }
  .portfoilo {
    flex-direction: column;
  }
  .portfoilo > div {
    width: 100%;
    margin-bottom: 13px;
  }
  .animation-profile p {
    margin-top: 540px;
    font-size: 20px;
  }
  .con-soft:hover {
    color: #841315;
  }
  .com-logo-name {
    text-align: left;
  }
  .com-logo img {
    width: 100px;
  }
  .buenl {
    letter-spacing: 10px;
  }
  .testimonial-container {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
  }

  .testimonials {
    gap: 10;
  }

  .testimonial {
    flex: 0 0 100%; /* Full width on mobile */
  }
  .void-testimonial {
    display: inline;
  }

  .testimonial p {
    font-size: 14px;
  }
  .testimonial .author-base {
    font-size: 12px;
  }
  .author-pic img {
    width: 50px;
    height: 50px;
  }
  .testimonial-btn {
    background-color: transparent;
    border: none;
  }
  .testimonial-btn:active {
    background-color: transparent;
    border: none;
  }
  #prev {
    background-image: url(images/left-black.png);
    left: -25px;
  }
  #prev:active {
    background-image: url(images/icons8-sort-left-30.png);
  }
  #next {
    background-image: url(images/right-black.png);
    right: -24px;
  }
  #next:active {
    background-image: url(images/icons8-sort-right-30.png);
  }
  footer {
    flex-direction: column;
    padding: 20px 40px;
  }
  footer p,
  footer a {
    font-size: 16px;
  }
  .main-details {
    width: 100%;
    line-height: 1.4;
  }
  footer > div {
    width: 100%;
    margin-bottom: 30px;
  }
  footer h3 {
    font-size: 25px;
  }
}
